/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.top-line {
	background: #eeeeee;
	margin: 0;

	.header-top-section {
		float: right;
		width: 70%;
		padding: 2% 0;
		.donate, .volunteer {
			font: 400 0.8em Arial;
			text-transform: uppercase;
			padding: 6% 2% 3%;
		}

		.donate {
			color: #FFFFFF;
			background: #61a70a;
		}

		.volunteer {
			color: #000000;
			background: #fdcd05;
			margin-left: -2%;
		}

		.fa-facebook-square, .fa-twitter-square, .fa-calendar {
			color: #545051;
			font-size: 1.2em;
			margin-right: 1%;
		}
	}
}	

.navigation {
    margin-bottom: 0;
    text-align: center;
    box-shadow: none;
    border: none;

    img {
    	width: 100%;
    }

    .navigation-button {
        margin: 10% 0 5%;
        border: none;

        &:focus, &:hover {
            margin: 10% 0 5%;
            border-radius: 0;
            background: none;
        }
    } 

    .navbar-brand {
    	padding: 3%;
    	margin: 1% 0 4%;
    }
 

    .navigation-collapse {
        border: none;

        .menu-item {

            li {

                a {
                    text-transform: uppercase; 
                    font: 400 1.1em/2.3em 'Lato';
                    color: #555152;  

                    &:hover, &:active {
                        color: #7AA52A;
                    }
                }


                &.opened-page {
                    a, a:hover {
                    	background: none;
                    	color: #7AA52A;
                        box-shadow: none;
                    } 
                }

                .dropdown-submenu {
                    background: #ACAAAA;
                    text-align: center;

                    li {

                        a {
                           text-transform: uppercase; 
                           font: 400 1.1em/2.3em 'Lato';
                           color: #FFFFFF;  
                        }

                        &.opened-page {

                            a, a:hover {
                                background: none;
                                color: #7AA52A;
                                box-shadow: none;
                            } 
                        }
                    }
                }
            }
        }
    }    
}

.site-navigation {

    .homepage-navigation {
        margin-bottom: 0;
        text-align: center;
        box-shadow: none;
        border: none;
        border-radius: 0;
        background: #898686;

        .homepage-navbar {
            margin-bottom: 0;

            .navigation-button {
                margin: 3% 0 0 0;
                border: none;
                float: left;

                &:focus, &:hover {
                    margin: 3% 0 0 0;
                    border-radius: 0;
                    background: none;
                }

                .icon-bar {
                    background: #FFFFFF;
                }
            } 
        } 

        .navigation-collapse {

            .menu-item {

                li {

                    a {
                        text-transform: uppercase; 
                        font: 400 1.1em/2.3em 'Lato';
                        color: #FFFFFF;
                        background: #898686;  

                        &:hover, &:active {
                            color: #FFFFFF;
                            background: #898686;
                            box-shadow: none;
                        }
                    }


                    &.opened-page {

                        a, a:hover {
                            color: #FFFFFF;
                            box-shadow: none;
                        } 
                    }

                    .dropdown-submenu {
                        text-align: center;

                        li {

                            a {
                               text-transform: uppercase; 
                               font: 300 1.1em/2.3em 'Lato';
                               color: #000000; 
                               background: #FFFFFF;

                            }

                            &.opened-page {

                                a, a:hover {
                                    color: #7AA52A;
                                    box-shadow: none;
                                    background: #FFFFFF;
                                } 
                            }
                        }
                    }
                }
            }
        }   
    }

    img {
        width: 100%;
    }
}    
