@media (min-width: 768px) {
	.top-contacts {
			
		background: #000000;

		.head-contacts {
			float: right;
			padding-top: 2%;

			p {
				display: inline-block;
				color: #FFFFFF;
				text-transform: uppercase;
				font: 400 0.8em/0.5em 'Montserrat', sans-serif;
			}

			a {
				color: #727779;
				text-transform: uppercase;
				font: 400 0.8em/0.5em 'Montserrat', sans-serif;
				text-decoration: none;
				padding: 4% 0;

				&.email {
					padding-right: 4%;
					border-right: 0.1em solid gray;
				}
			}
		}
	}

	.navigation {
	    margin-bottom: 0;
	    text-align: center;
	    box-shadow: none;
	    border: none;
	    padding: 0;

	    .navigation-button {
	        margin: 5% 0 0 0;
	        border: none;

	        &:focus, &:hover {
	            margin: 5% 0 0 0;
	            border-radius: 0;
	            background: none;
	        }
	    } 

	    .navbar-brand {
	    	padding: 3% 0 3% 10%;
	    	margin: 3% 0 4%;
	    }
	}  

	.navigation-collapse {
	    border: none;

	    .menu-item {

	        li {

	            a {
	                text-transform: uppercase; 
	                font: 300 0.8em/2.3em 'Montserrat';
	                color: #4e4e4e;
	                
	            }

	            &.opened-page {
	                a {
	                	background: none;
	                	color: #ffac55;
	                    box-shadow: none;
	                } 
	            }
	        }
	    }
	}

	.slider {
		height: 85vh;	
		background:  url("../img/layer-12.jpg") 53% no-repeat;
		background-size: cover;
		position: relative;

		.item.slide {
			position: absolute;
			bottom: 0;
		}

		.carousel-control {
	   		width: 5%; 

	        &.left, &.right {
	            background-image: none;
	        }
	    }    

	    .left-arrow:before, .right-arrow:before {
	        content: none;
	    }

	    .right-arrow {
	        right: 0;
	        margin-right: 18%;
	    }

	    .left-arrow {
	        left: 0;
	        margin-left: 2%;
	    }
	                
	    .fa-angle-left:before {
	        background: #000000;
	        padding: 30px 12px;
	        font-size: 1.3em;
	    }
	 
	    .fa-angle-right:before {
	        background: #000000;
	        padding: 30px 12px;
	        font-size: 1.3em;
	    }

	    .industry {

			.heading {
				background: #ffac56;
				padding: 2% 0 2% 6%;


				p {
					font: 400 1.4em 'Montserrat';
					text-transform: uppercase;
					color: #FFFFFF;


					span {
						display: block;
						font: 400 0.6em 'Montserrat';
						padding-bottom: 1%;
					}
				}
			}

			a {
				color: #FFFFFF;
				margin-left: 6%;
				border: 0.1em solid #FFFFFF;
				border-radius: 50%;
				padding: 3% 4% 2% 5%;
			}

			.education, .business, .technology, .estate, .banking {
				border: 0.1em solid #00a6d3;
				background: #03b6e7;
				padding-left: 4%;

				&:hover {
					background: #00a6d3;
				}

				p {
					padding-top: 20%;
					text-transform: uppercase;
					font: 400 1em 'Montserrat';
					color: #FFFFFF;
					margin: 14% 0;
				}
			}


			.education {

				p {
					background:  url("../img/icon-education.png") left top no-repeat;
				}
			}

			.business {


				p {
					background:  url("../img/icon-business.png") left top no-repeat;
				}
			}

			.technology {

				p {
					background:  url("../img/icon-technology.png") left top no-repeat;
				}	
			}

			.estate {

				p {
					background:  url("../img/icon-real-estate.png") left top no-repeat;
				}
			}

			.banking {

				p {
					background:  url("../img/icon-banking.png") left top no-repeat;
				}
			}

			.more {
				border: 0.1em solid #00a6d3;
				background: #03b6e7;
				font: 400 1.4em/0.2em 'Montserrat';
				padding: 12% 0 11%;
				text-align: center;

				.view {
					padding: 4% 8%;
					background-color: #16d428;
					border: none;
					border-radius: 4em;	
					margin: 0;	

				}

				a:hover {
					text-decoration: none;
				}
			}
		}
	} 

	.about {
		.content-about-us {
			text-align: right;
			padding: 7% 3%;

			h2 {
				font: 700 2.2em 'Montserrat';
				color: #343a3b;
				text-transform: uppercase;
				margin-bottom: 3%;

				span {
					display: block;
					font: 400 0.4em 'Montserrat';
				}
			}

			p {
				font: 400 0.8em/1.6em 'Montserrat';
				color: #838b8c;
				margin-bottom: 8%;
			}

			a {
				font: 400 1em 'Montserrat';
				color: #FFFFFF;
				padding: 3% 5%;
				border-radius: 4em;
				border: none;
				background-color: #16d428;

				&:hover {
					text-decoration: none;
				}
			}
		}	

		.images-about-us {
			background: url("../img/about.jpg") center no-repeat;
			background-position-y: 50%;
			min-height: 30vh;
			position: relative;

			.excellence {
				position: absolute;
				bottom: -30%;
				right: 10%;
				background-color: #03b6e7;
				width: 50%;
				border: 0.2em solid #FFFFFF;
				padding: 5%;
				text-align: center;


				p {
					color: #FFFFFF;
					font: 400 0.8em 'Montserrat';
					border: 0.1em solid #FFFFFF;
					padding: 60% 3% 5%;
					background: url("../img/badge-icon.png") center 0 no-repeat;
					span {
						display: block;
						font: 400 4.6em 'Montserrat';
					}
				}
			}
		}
	}

	.our-steps {
		padding: 10% 5% 7%;
		background: #e7eff1;

		h2 {
			font: 700 2.2em 'Montserrat';
			color: #343a3b;
			text-transform: uppercase;
			margin-bottom: 5%;

			span {
				display: block;
				font: 400 0.4em 'Montserrat';
			}
		}

		ul {
			padding-top: 0;
			.first-step, .second-step, .third-step {
				padding: 12% 0 0;
				margin-right: 7%;
				

				span {
					color: #16d428;
					font: 400 1em 'Montserrat';
					text-transform: uppercase;
				}

				h4 {
					color: #343a3b;
					font: 700 1.2em 'Montserrat';
					padding: 6% 0; 
				}

				p {
					color: #838b8c;
					font: 400 0.8em/1.6em 'Montserrat';
				}
			}

			.first-step {
				background: url("../img/icon-choose-industary.png") 0 0 no-repeat;
			}	

			.second-step {
				background: url("../img/icon-choose-service.png") 0 0 no-repeat;
			}

			.third-step {
				background: url("../img/icon-boost-your-business.png") 0 0 no-repeat;
			}
		}
	}

	.featured-projects {
		padding: 7% 2%;

		h2 {
			font: 700 2.2em 'Montserrat';
			color: #343a3b;
			text-transform: uppercase;
			margin-bottom: 3%;
			padding-left: 3%;

			span {
				display: block;
				font: 400 0.4em 'Montserrat';
			}
		}

		.box {
		    overflow: hidden;
		    position: relative;
		    margin: 0 2%;
		    margin-bottom: 12%;

		    span {
		    	position: absolute;
		    }

		    img {
		        max-width: 100%;
		        transform: scale(1.1, 1.1);
					-ms-transform: scale(1.1, 1.1);
					-webkit-transform: scale(1.1, 1.1);
				height: auto;	
		    }

		    .overlay {
		        position: absolute;
		        overflow: hidden;
		        opacity: 0;
		        top: 0;
		        width: 100%;
		        min-height: 100%;
		        background-color: #ffac56;
		        text-align: center;
		        -webkit-transition: opacity .5s ease;
		        padding: 0 5%;

		        .overlay-content {
		            margin-top: 10%;

		            h5 {
		            	font: 400 0.8em 'Montserrat';
		            	text-transform: uppercase;
		            	color: #FFFFFF;
		            	padding-bottom: 3%;
		            }

		            p {
		            	font: 400 0.6em 'Montserrat';
		            	color: #FFFFFF;
		            }
		        }
		    }            

		    &:hover .overlay {
		        opacity: 1;                
		    } 
		}

		a {
			font: 400 1em 'Montserrat';
			color: #FFFFFF;
			padding: 3% 5%;
			border-radius: 4em;
			border: none;
			background-color: #16d428;

			&:hover {
				text-decoration: none;
			}
		}

		.full-projects {
			text-align: center;
		}
	}

	.clients {
		background: #03b6e7;
		padding: 7% 5%;

		h2 {
			font: 700 2.2em 'Montserrat';
			color: #FFFFFF;
			text-transform: uppercase;
			margin-bottom: 3%;

			span {
				display: block;
				font: 400 0.4em 'Montserrat';
			}
		}

		p {
			font: 400 0.8em/1.6em 'Montserrat';
			color: #FFFFFF;
		}
	}

	.blog {
		background: #e7eff1 url('../img/blog.jpg') right no-repeat;
		background-size: auto 100%;
		background-position-x: 23em;
		padding: 0 0 5%;

		h2 {
			font: 700 2.2em 'Montserrat';
			color: #000000;
			text-transform: uppercase;
			margin: 2%  0 5% 4%;

			span {
				display: block;
				font: 400 0.4em 'Montserrat';
				color: #898e8f;
			}
		}

		.blog-links {
			margin: 0 0 5% 4%;
		}

		.all-posts {
			font: 400 0.6em 'Montserrat';
			color: #606668;
			text-transform: uppercase;
			padding: 2%;
			border: 0.3em solid #f3cda3; 
			border-radius: 4em;
		}

		.top-posts {
			font: 400 0.6em 'Montserrat';
			color: #606668;
			text-transform: uppercase;
			padding: 2%;
			border: 0.3em solid #bfc7c8; 
			border-radius: 4em;
		}

		ul {

			li {
				padding-bottom: 10%;

				span {
					font: 400 0.8em 'Montserrat';
				}

				h6 {
					padding: 2% 0 4%;
					font: 700 1em 'Montserrat';
					text-transform: uppercase;
					color: #343a3b;
				}

				p {
					color: #838b8c;
					font: 400 0.8em/1.8em 'Montserrat';
				}
			}
		}
	}

	.contacts {
		padding: 7% 5%;

		h2 {
			font: 700 2.2em 'Montserrat';
			color: #000000;
			text-transform: uppercase;
			margin-bottom: 5%;

			span {
				display: block;
				font: 400 0.4em 'Montserrat';
				color: #898e8f;
			}
		}

		ul {
			padding: 3% 0;
			li {
				padding: 4% 0 4% 18%;
				margin-bottom: 5%;
				border: 0.1em solid #f0f4f5;

				h6 {
					color: #343a3b;
					font: 700 1.6em 'Montserrat';
					text-transform: uppercase;
					margin-bottom: 2%;
				}

				a {
					color: #343a3b;
					font: 400 1.2em 'Montserrat';
				}
			}

			.email {
				background: url("../img/icon-email.png") 6% 50% no-repeat;
			}

			.phone {
				background: url("../img/icon-call.png") 6% 50% no-repeat;
			}

			.career {
				background: url("../img/icon-career.png") 6% 50% no-repeat;
			}
		}
	}

	.footer {
		padding: 4% 5%;
		background: #262829;

		h5 {
			color: #e1e1e1;
			font: 700 1em 'Montserrat';
			text-transform: uppercase;
			margin: 0 0 5% 2%;
		}

		.newsletter {
			padding-bottom: 5%;

			.subscribe-text {
				color: #838b8c;
				font: 400 1em/1.4em 'Montserrat';
				margin-bottom: 5%;
			}

			#mc_embed_signup {
				padding: 5% 0;

				.email {
					width: 60%;
					border: none;
					background: #323334;
					border-top-left-radius: 4em;
					border-bottom-left-radius: 4em;
					padding: 3% 0 3% 6%;
					font: 400 1em 'Montserrat';
					color: #5e5e5e;
					text-transform: uppercase;
				}

				.email:focus {
					border: none;
				}

				.clear {
					display: inline-block;
					margin-left: -6%;
					

					#mc-embedded-subscribe {
						border: none;
						background: #16d428;
						border-radius: 4em;
						font: 400 1.2em 'Montserrat';
						color: #FFFFFF;
						text-transform: uppercase;
						padding: 9% 24% 10%;
					}
				}
			}
		}

		li {
			margin-bottom: 3%;

			a {
				font: 400 1em 'Montserrat';
				color: #838b8c;
				margin-bottom: 3%;

				&:hover {
					text-decoration: none;
				}
			}
		}	

		.copyright {
			font: 400 0.6em 'Montserrat';
			color: #838b8c;
			border-top: 0.1em solid #2c2d2e;
			padding-top: 3%;
		}
	}
}	